.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 800px; /* Cambia este valor según lo necesites */
  margin: auto; /* Centra el carrusel en su contenedor */
}


.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-image-wrapper {
  min-width: 100%; /* Asegura que cada imagen ocupe todo el ancho */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.carousel-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; /* Ajusta la imagen para que no se deforme */
}

.carousel-image.horizontal {
  max-width: 100%; /* O cualquier valor que desees */
  height: auto; /* Mantiene la relación de aspecto */
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  z-index: 10;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}
