footer {
    min-width: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr;
    background-color: rgba(255, 0, 0, 0.397);
    border-top: 1px solid white;
}
footer div {
    padding: 10px;
}
a div {
    background-color: white;
    border-radius: 100px;
}
a div:hover {
    background-color: rgba(255, 0, 0, 0.397);
}
.footer-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 0;
    margin: 0;
    min-width: 200px;
}
.firma-img {
    display: flex;
    justify-content: start;
}
.firma-img img {
    width: 50%;
}
.icons {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.icons img {
    width: 25px;
}
@media (max-width: 720px) {
    footer {
        grid-template-columns: 1fr;
    }
    .footer-main {
        align-items: center;
    }
    .firma-img img {
        width: 100%;
    }
}