header {
    width: 100%;
    display: flex;
    padding: 0;
    background-color: rgba(3, 3, 39, 0.237);
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    color: black;
}

nav div {
    color: white;
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
}

nav div:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.327);
}

.menu-toggle {
    display: none;
    /* Ocultar por defecto */
    cursor: pointer;
}

.menu-toggle .bar {
    display: block;
    width: 30px;
    height: 4px;
    margin: 5px auto;
    background-color: #333;
    /* Color de las barras */
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
        /* Mostrar el menú hamburguesa en pantallas pequeñas */
    }

    .nav {
        display: none;
        /* Ocultar el menú por defecto */
        flex-direction: column;
        position: absolute;
        top: 50px;
        /* Ajustar según sea necesario */
        left: 0;
        right: 0;
        background-color: white;
        /* Fondo del menú desplegable */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .nav.open {
        z-index: 1;
        display: flex;
        background-color: rgba(0, 0, 0, 0.415);
        /* Mostrar el menú cuando está abierto */
    }

    .menu-toggle .bar.open {
        background-color: #fff;
        /* Cambiar color al abrir */
        /* Rotar las barras en forma de X si es necesario */
    }
}