.inicio-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
}
.inicio-main {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}
.nombre {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nombre img {
    width: 80%;
}
.retrato {
    width: 100%;
}
.nombre h1 {
    font-size: 30px;
}
.inicio-container img {
    opacity: 0;
    /* transform: translateX(200px); */
    transform: rotateY(-90deg) translateX(-20px);
    transition: opacity 1.8s ease, transform 1.8s ease;
}
.inicio-container .retrato {
    opacity: 0;
    transform: translateX(200px);
    /* transform: rotateY(-90deg) translateX(-20px); */
    transition: opacity 2s ease, transform 1s ease;
}
.inicio-container.show img {
    opacity: 1;
    transform: translateX(0); /* Volver a su posición original */
}
@media (max-width: 720px) {
    .inicio-container {
        padding: 0;
        padding-top: 50px;
    }
    .inicio-main {
        grid-template-columns: 1fr;
    }
}