.musica-container {
  display: flex;
  justify-content: center;
}
.musica-main {
    padding-top: 80px;
    width: 100%;
}
.musica-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.next-album {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.next-album h2 {
  width: 100%;
  transform: translateX(-200px);
  transition: opacity 2s ease, transform 1s ease;
}
.next-album img {
  width: 40%;
  transform: translateX(200px);
  transition: opacity 2s ease, transform 1s ease;
}

.musica-main.show img, .musica-main.show h2 {
    opacity: 1;
    transform: translateX(0); /* Vuelve a su posición original */
}
.album {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}
.album-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
}
.album-img img {
  width: 100%;
}
.album-players {
  padding: 20px;
}
.album-players div img {
  width: 60%;
}

  /* Media query para pantallas pequeñas */
@media (max-width: 720px) { /* Ajusta el ancho según tus necesidades */
  .musica-main {
      width: 100%;
      padding: 0;
      padding-top: 40px;
  }
  .next-album {
    grid-template-columns: 1fr;
    padding: 5px;
  }
  .next-album h2 {
    text-align: center;
  }
  .next-album img {
    width: 100%;
  }
  .album {
    grid-template-columns: 1fr;
    padding: 10px;
  }
  .album-img {
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin-bottom: 10px;
  }
  .album-players div img {
    width: 80%;
  }
}