.musica-container {
  display: flex;
  justify-content: center;
}
.musica-main {
    padding-top: 50px;
    width: 100%;
}
.musica-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.next-album {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}
.next-album h2 {
  margin-right: 20px;
  text-align: end;
  transform: translateX(-200px);
  transition: opacity 2s ease, transform 1s ease;
}
.next-album img {
  width: 70%;
  transform: translateX(200px);
  transition: opacity 2s ease, transform 1s ease;
}

.musica-main.show img, .musica-main.show h2 {
    opacity: 1;
    transform: translateX(0); /* Vuelve a su posición original */
}
.player {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}
.player div {
  padding: 10px;
}
.album {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-content: center;
}
.album-img {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.album-img img {
  width: 200px;
}
.song-list {
    margin-top: 20px;
    font-size: 16px;
  }
  
  .song-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .song-list li {
    cursor: pointer;
    padding: 5px 0;
  }
  
  .song-list li:hover {
    text-decoration: underline;
  }

  /* Media query para pantallas pequeñas */
@media (max-width: 720px) { /* Ajusta el ancho según tus necesidades */
  .musica-main {
      width: 100%;
      padding: 0;
      padding-top: 40px;
  }
  .next-album {
    grid-template-columns: 1fr;
    padding: 5px;
  }
  .next-album h2 {
    text-align: center;
  }
  .next-album img {
    width: 100%;
  }
  .player {
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .player div {
    padding: 0px;
  }
  .album-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}