.video-container {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    gap: 50px;
}
.video-container div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}
.video-container iframe {
    width: auto;
    height: auto;
}