.video-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 50px;

}
.video-main {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}
.video-container iframe {
    width: auto;
    height: auto;
}
@media (max-width: 720px) {
    .video-container {
        padding: 10px;
        padding-top: 40px;
    }
    .video-container iframe {
        width: 90%;
    }
    .video-main {
        width: 100%;
    }
}