@font-face {
  font-family: 'Pricedown';
  src: url('./pricedown bl.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url('./img/wallpaperH.jpg');
    background-size: cover;
    background-attachment: fixed;
    /* background-position: center; */
    background-repeat: no-repeat;
  }
  p, strong, h2, h3, li {
    color: white;
  }
  h1 {
    color: rgb(150, 0, 0);
    font-family: 'Pricedown', sans-serif;
  }
  ul {
    list-style: none;
}
  /* Ajuste para pantallas pequeñas */
  @media (max-width: 720px) {
    body {
      background-image: url('./img/wallpaperV.jpg');
        background-size: cover;
        /* background-position: 75% center; */
        background-attachment: fixed;
    }
  }
  .main {
    display: flex;
    justify-content: center;
  }

  
  